/* HEADER */

header {
  background-color: white;
}

/* MAIN */

main {
  background-color:brown;
  height: 100vh;
}

.container-griglia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.griglia {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
}

.square {
  height: calc(100% / 10);
  width: calc(100% / 10);
  background-color: blue;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.square span {
  display: none;
}

/* FOOTER */

footer {
  background-color: white;
}